apps
libs

.dockerignore
docker-compose.yml
Dockerfile

.gitkeep
.gitignore
.gitattributes
.lintstagedrc

.editorconfig
.prettierrc
.prettierignore
.eslintignore
.eslintrc

jest.config.ts
lerna.json
tsconfig.json

.husky
.github
.vscode

tsup.config.ts
release.config.cjs
