{
  "branches": [
    "main"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/npm",
      {
        "pkgRoot": "./dist"
      }
    ],
    "@semantic-release/github",
    [
      "@semantic-release/git",
      {
        "assets": [
          "package.json"
        ],
        "message": "chore(release): @perquillo/hooks@${nextRelease.version}. [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    "@semantic-release/changelog"
  ]
}